* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Overpass', sans-serif;
	font-size: 15px;
	background-color: hsl(216deg, 12%, 8%);
	color: white;
}
body main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100vh;
}
body main .firstBox {
	width: 400px;
	height: 400px;
	background-color: hsl(213deg, 19%, 18%);
	border-radius: 30px;
	padding: 40px;
}
body main .firstBox .star {
	background-color: rgb(66, 66, 66);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 10px;
}
body main .firstBox .fotoStar {
	height: 20px;
	width: 20px;
}
body main .firstBox .mainText {
	padding: 10px;
}
body main .firstBox .description {
	line-height: 25px;
	color: rgb(133, 135, 136);
	margin-bottom: 30px;
}
body main .firstBox .rating {
	height: 80px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
body main .firstBox button {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: rgb(97, 97, 97);
	color: white;
	border-color: transparent;
}

body main .firstBox button.active {
	background-color: rgb(233, 149, 70);
}
body main .firstBox button button:hover {
	background-color: rgb(233, 149, 70);
}

body main .firstBox button:hover {
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#f0a646),
		color-stop(#e49d33),
		color-stop(#c58026),
		to(#b67c24)
	);
	background-image: linear-gradient(
		to right,
		#f0a646,
		#e49d33,
		#c58026,
		#b67c24
	);
	-webkit-box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
	box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
body main .firstBox .submit {
	margin: 0 auto;
	border-radius: 10px;
	width: 300px;
	background-color: rgb(211, 90, 9);
	text-transform: uppercase;
	letter-spacing: 3px;
}
body main .secondBox {
	width: 400px;
	height: 400px;
	background-color: hsl(213deg, 19%, 18%);
	border-radius: 30px;
	padding: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
body main .secondBox .fotoThanks {
	height: 100px;
	width: 150px;
}
body main .secondBox .choiceofstars {
	background-color: rgb(59, 59, 59);
	margin-top: 30px;
	width: 200px;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 10px;
}
body main .secondBox .choiceofstars .choice {
	color: orange;
	margin: auto;
}
body main .secondBox .thanks {
	margin-top: 30px;
	margin-bottom: 15px;
}
body main .secondBox .secondDescription {
	line-height: 22px;
	text-align: center;
}
body main .hidden {
	display: none;
} /*# sourceMappingURL=style.css.map */
